<html>
    <head>

    </head>
    <body>
        <form action="/create" method="post">
            {% csrf_token %}
            <div>
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name">
            </div>
            Location: <select name=location>
                <option value="MV">MV</option>
                <option value="SJ">SJ</option>
                <option value="NY">NY</option>
                <option value="LA">LA</option>
            </select>
            Favorite Language: <select name=language>
                <option value="JS">JS</option>
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="Swift">Swift</option>
            </select>
            <div>
                <label for="comment">Comment:</label>       
                <textarea id="comment" name="comment"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>